.container{
    width: 70%;
    height: 70vh;
    margin: 70px auto;
    padding-top: 80px;
    border-radius: 12px;
    background: rgb(57, 188, 240);
}
.top{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.top input{
    display: flex;
    width: 350px;
    height: 70px;
    border: none;
    outline: none;
    background: lightcyan;
    border-radius: 30px;
    padding-left: 40px;
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.search-icon{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: lightcyan;
    cursor: pointer;
}

.search-icon img{
    width: 40px;
    height: 40px;
}


